<?xml version="1.0" encoding="UTF-8"?>
<!-- I downloaded the mockito.xsd from https://bitbucket.org/kubek2k/springockito/raw/tip/springockito/src/main/resources/spring/mockito.xsd, -->
<!-- because otherwise this stuff would not work when I am offline. -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mockito="http://www.mockito.org/spring/mockito"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    	http://www.mockito.org/spring/mockito file:src/test/resources/mockito.xsd">

	<mockito:mock id="myDelegate"
		class="com.cellent.spring.utils.junit_spring.support.MyDelegate" />

	<bean id="myBean" class="com.cellent.spring.utils.junit_spring.support.MyBean" />

	<bean id="myBeanWithFieldInjection"
		class="com.cellent.spring.utils.junit_spring.support.MyBeanWithFieldAutowiredBean">
	</bean>

	<bean id="myBeanWithSetterInjection"
		class="com.cellent.spring.utils.junit_spring.support.MyBeanWithSetterAutowiredBean">
		<property name="delegate" ref="myDelegate" />
	</bean>
</beans>